@model List<Category>;
@{
    ViewData["Title"] = "Home Page";
}

<link href="https://fonts.cdnfonts.com/css/bubble-letters" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<body style="background-color:rgb(245, 245, 245)">

    <div class="jumbotron jumbotron-fluid text-white text-center mb-0" style="background-color: #a8c6e7;">
        <div class="container">
            <h1 class="display-3"
                style="font-family: 'Lobster', cursive; text-transform: uppercase; color: white; font-size: 3.5rem; font-weight: bold;">
                KoalasKlothing
            </h1>
            <p class="lead"
                style="font-family: 'Lobster', cursive; text-transform: uppercase; color: white; font-size: 1.8rem; font-weight: bold;">
                Discover Our Most Popular Winter Styles!
            </p>
        </div>
    </div>

    <style>
        .card {
            display: flex;
            flex-direction: column;
        }

        .card-img-top {
            height: 350px; /
            object-fit: cover; 
        }

        .card-body {
            flex: 1;
        }
    </style>

    <div class="container text-center mt-4">
        <div class="row">
            @for (int i=0; i< 3; i++)
            {
                var item = Model[i];
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm h-100">
                        <img src="@ViewBag.Images[i]" class="card-img-top" alt="@item.CategoryName">
                        <div class="card-body">
                            <a asp-controller="Home" asp-action="@ViewBag.Items[i]" class="text-decoration-none text-dark">
                                <h3 class="card-title">@item.CategoryName</h3>
                                <p class="card-text">@item.Description</p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>